<%# <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"> Sign Up </h1>
    </div>
  </div>
</section> %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.label :name, class: "label has-text-white" %>
    <p class="control has-icons-left">
      <%= f.text_field :username, autofocus: true, autocomplete: "email", :placeholder => "name", class: "input is-small has-text-white has-background-black" %>
      <span class="icon is-small is-left">
        <i class="fas fa-motorcycle"></i>
      </span>
    </p>
  </div>

    <div class="field">
      <%= f.label :email, class: "label has-text-white" %>
      <p class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input is-small has-text-white has-background-black " %>
        <span class="icon is-small is-left">
           <i class="fas fa-motorcycle"></i>
        </span>
      </p>
    </div>

  <div class="field">
    <%= f.label :password, class: "label has-text-white" %>
    <% if @minimum_password_length %>
    <% end %>
    <p class="control has-icons-left">
    <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input is-small has-text-white has-background-black" %>
      <span class="icon is-small is-left">
        <i class="fas fa-motorcycle"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label has-text-white" %>
    <p class="control has-icons-left">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input is-small has-text-white has-background-black" %>
      <span class="icon is-small is-left">
        <i class="fas fa-motorcycle"></i>
      </span>
    
  </div>

  <div class="actions">
    <%= f.submit "SIGN UP" , class: "button is-black has-text-white is-capitalized has-text-weight-bold
 " %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
